
/***************************/
/* Autocomplete Search Box */
/***************************/

#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px 0 10px 0;
}

#tags {
  width: 30%;
  height: 40px;
  font-size: 20px;
}

#searchBtn {
  height: 45px;
  width: 90px;
  font-size: 20px;
}

.ui-menu-item-wrapper {
  z-index: 500;   /* z-index keeps dropdown items on top of map */
  font-size: 20px;
}  

#hiddenSpan {
  visibility: hidden;
}

/*************/
/* Inset Map */
/*************/

/* Sets Height of MapID */ 
#mapid { 
  height: 700px;
  z-index: 1;  /* z-index keeps map underneath of dropdown items */
}

/* styles marker popup boxes */
#popup {
  font-size: 30px;
}

.popup-button {
  font-size: 25px;
}

/* Styles for color bars legend below map */
#colors-legend {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 50px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
}

/* styles for individual colors in color bar */
.colors {width: 100%;}
#green {background-color: #2AAD27}
#violet {background-color: #9C2BCB}
#red {background-color: #CB2B3E}
#gold {background-color: #FFD326}
#blue {background-color: #2A81CB}
      


